<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title> <%= title %>%> </title>
</head>
<body>
   <div class="container">
       <div>
           <a href="/submit" class="btn btn-primary"> + Create New Employee </a>
           <h1>Employee Information</h1>
       </div>
       <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Phone Number</th>
              <th scope="col">City</th>
            </tr>
          </thead>
          <tbody>
              <% list.forEach(function(item) { %>
                    <tr>
                        <td> <%= item.name %></td> 
                        <td> <%= item.email %> </td>
                        <td> <%= item.phone %> </td>
                        <td> <%= item.city %> </td>
                        <td>
                        <a href="/<%= item._id %>"> <i class="fa fa-pencil fa-lg"></i> </a>
                        <a href="/delete/<%= item._id %>"> <i class="fa fa-trash fa-lg"></i> </a>
                      </tr>
              <% }); %>
            
          </tbody>
        </table>
   </div>
</body>
</html>